#main
{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 600px)
{
    #main
    {
        flex-direction: column;
    }
}

#articles
{
    background: red;
    width: 70%;
}
@media screen and (max-width: 600px)
{
    #articles
    {
        width: 100%;
    }
}

#dashboard
{
    position: relative;
    background: blue;
    width: 30%;
}
@media screen and (max-width: 600px)
{
    #dasboard
    {
        width: 100%;
    }
}

