#main
{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 600px)
{
    #main
    {
        flex-direction: column;
    }
}

#articles
{
    width: 100%;
    margin-bottom: 5%;
    margin-top: 65px;
}
@media screen and (max-width: 600px)
{
    #articles
    {
        width: 100%;
    }
}

#addArticle
{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addArticle input
{
    width: 50%;
}

#dashboard,#addArticle
{
    border: 1px solid black;
}

.offcanvas-body form
{
    display: flex;
    flex-direction: column;
}

.offcanvas-body form input
{
    margin-top: 5px;
}

#registerForm
{
    display: none;
}

#login
{
    display: none;
}